;; shadow-cljs configuration
{:builds {:app                            ;; 构建的名称
            {:target :browser,            ;; 目标是浏览器
             :output-dir "public/app/js", ;; 将编译后的 JS 文件放在这里
             :asset-path "/app/js",       ;; 用于构建 URL 前缀
             :modules {:main              ;; 我们需要一个模块
                         {:init-fn main.app/init}} ;; 当 JS 加载时，启动
                                                   ;; `counter.app/init`
            }},
 :dependencies [[reagent "1.1.0"] [re-frame "1.2.0"]],
 :dev-http {8080 "public"},
 :source-paths ["src"]}
